@model IEnumerable<Riviera_Business.Models.TbComprobantes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeyAntilavado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BajaCambProp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComprobarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstamcoaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurpPf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComprobantesPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdControlNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeyAntilavado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BajaCambProp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprobarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstamcoaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurpPf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprobantesPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdControlNavigation.IdMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.IdEstados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdComprobantes">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdComprobantes">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdComprobantes">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
