@model IEnumerable<Riviera_Business.Models.CVersionCarro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Versiones</h1>

<p>
    <a asp-action="Create">Agregar Nueva Version</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VersionCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModeloNavigation)
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VersionCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVersionCarro">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVersionCarro">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
