@model IEnumerable<Riviera_Business.Models.TbDocumentacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionVig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CifSat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComprobDomicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConocimientoDuenoBeneficiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActaConstitutivaBoletaRpc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoderLegarExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstanciaConocimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesCorrespondiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDatosPersonaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.IdentificacionVig == 1)
                {
                    <label value="@item.IdentificacionVig">Si</label>
                }
                else
                {
                    <label value="@item.IdentificacionVig">No</label>
                }
            </td>
            <td>
                @if (item.Curp == 1)
                {
                    <label value="@item.Curp">Si</label>
                }
                else
                {
                    <label value="@item.Curp">No</label>
                }
            </td>
            <td>
                @if (item.CifSat == 1)
                {
                    <label value="@item.CifSat">Si</label>
                }
                else
                {
                    <label value="@item.CifSat">No</label>
                }
            </td>
            <td>
                @if (item.ComprobDomicilio == 1)
                {
                    <label value="@item.ComprobDomicilio">Si</label>
                }
                else
                {
                    <label value="@item.ComprobDomicilio">No</label>
                }
            </td>
            <td>
                @if (item.ConocimientoDuenoBeneficiario == 1)
                {
                    <label value="@item.ConocimientoDuenoBeneficiario">Si</label>
                }
                else
                {
                    <label value="@item.ConocimientoDuenoBeneficiario">No</label>
                }
            </td>
            <td>
                @if (item.ActaConstitutivaBoletaRpc == 1)
                {
                    <label value="@item.ActaConstitutivaBoletaRpc">Si</label>
                }
                else
                {
                    <label value="@item.ActaConstitutivaBoletaRpc">No</label>
                }
            </td>
            <td>
                @if (item.PoderLegarExp == 1)
                {
                    <label value="@item.PoderLegarExp">Si</label>
                }
                else
                {
                    <label value="@item.PoderLegarExp">No</label>
                }
            </td>
            <td>
                @if (item.ConstanciaConocimiento == 1)
                {
                    <label value="@item.ConstanciaConocimiento">Si</label>
                }
                else
                {
                    <label value="@item.ConstanciaConocimiento">No</label>
                }
            </td>
            <!-----------------------hasta aca llega ---------------------------------->
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesCorrespondiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDatosPersonaNavigation.Curp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDocumentos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDocumentos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDocumentos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
