@model IEnumerable<Riviera_Business.Models.CAsesores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar Nuevo</a>
</p>
<p>Lista de Asesores dentro de la empresa</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.TipoVenta == 1)
                {
                    <label value="@item.TipoVenta">Retail</label>
                }
                else
                {
                    <label value="@item.TipoVenta">InterAgencias</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsesores">Editar Nombre</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsesores">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
