@model IEnumerable<Riviera_Business.Models.CCarroExtra>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar mas extras</a>
</p>
<p>Se muestran el numero de serie de los automoviles con sus extras</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manuales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarnetServicio)
            </th>
            <th>
                Duplicado Llaves
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlantaRefaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Herramientas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                Numero Serie
            </th>
            <th>
                Version
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Manuales == 1)
                {
                    <label value="@item.Manuales">Entregado</label>
                }
                @if (item.Manuales == 2)
                {
                    <label value="@item.Manuales">No entregado</label>
                }
                @if (item.Manuales == 3)
                {
                    <label value="@item.Manuales">En Espera</label>
                }

            </td>
            <td>
                @if (item.CarnetServicio == 1)
                {
                    <label value="@item.CarnetServicio">Entregado</label>
                }
                @if (item.CarnetServicio == 2)
                {
                    <label value="@item.CarnetServicio">No Entregado</label>
                }
                @if (item.CarnetServicio == 3)
                {
                    <label value="@item.CarnetServicio">En Espera</label>
                }
            </td>
            <td>
                @if (item.Duplicado == 1)
                {
                    <label value="@item.Duplicado">Entregado</label>
                }
                @if (item.Duplicado == 2)
                {
                    <label value="@item.Duplicado">No Entregado</label>
                }
                @if (item.Duplicado == 3)
                {
                    <label value="@item.Duplicado">En espera</label>
                }
            </td>
            <td>
                @if (item.LlantaRefaccion == 1)
                {
                    <label value="@item.LlantaRefaccion">Entregado</label>
                }
                @if (item.LlantaRefaccion == 2)
                {
                    <label value="@item.LlantaRefaccion">No Entregado</label>
                }
                @if (item.LlantaRefaccion == 3)
                {
                    <label value="@item.LlantaRefaccion">En Espera</label>
                }
            </td>
            <td>
                @if (item.Herramientas == 1)
                {
                    <label value="@item.Herramientas">Entregado</label>
                }
                @if (item.Herramientas == 2)
                {
                    <label value="@item.Herramientas">No Entregado</label>
                }
                @if (item.Herramientas == 3)
                {
                    <label value="@item.Herramientas">En Espera</label>
                }
            </td>
            <td>
                @if (item.Gato == 1)
                {
                    <label value="@item.Gato">Entregado</label>
                }
                @if (item.Gato == 2)
                {
                    <label value="@item.Gato">No Entregado</label>
                }
                @if (item.Gato == 3)
                {
                    <label value="@item.Gato">En Espera</label>
                }
            </td>
            <td>
                @if (item.Antena == 1)
                {
                    <label value="@item.Antena">Entregado</label>
                }
                @if (item.Antena == 2)
                {
                    <label value="@item.Antena">No Entregado</label>
                }
                @if (item.Antena == 3)
                {
                    <label value="@item.Antena">En Espera</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.NoSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.VersionCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarroExtra">Correccion o terminar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCarroExtra">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCarroExtra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
