@model IEnumerable<Riviera_Business.Models.CCarroExtra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manuales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarnetServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duplicado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlantaRefaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Herramientas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manuales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarnetServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duplicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LlantaRefaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Herramientas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdCarros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.IdEstados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarroExtra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCarroExtra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCarroExtra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
