@model IEnumerable<Riviera_Business.Models.CCarroExtra>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar mas extras</a>
</p>
<p>Se muestran el numero de serie de los automoviles con sus extras</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manuales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarnetServicio)
            </th>
            <th>
                Duplicado Llaves
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlantaRefaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Herramientas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                Numero Serie
            </th>
            <th>
                Version
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Manuales == 1)
                {
                    <label value="@item.Manuales">Si</label>
                }
                else
                {
                    <label value="@item.Manuales">No</label>
                }

            </td>
            <td>
                @if (item.CarnetServicio == 1)
                {
                    <label value="@item.CarnetServicio">Si</label>
                }
                else
                {
                    <label value="@item.CarnetServicio">No</label>
                }
            </td>
            <td>
                @if (item.Duplicado == 1)
                {
                    <label value="@item.Duplicado">Si</label>
                }
                else
                {
                    <label value="@item.Duplicado">No</label>
                }
            </td>
            <td>
                @if (item.LlantaRefaccion == 1)
                {
                    <label value="@item.LlantaRefaccion">Si</label>
                }
                else
                {
                    <label value="@item.LlantaRefaccion">No</label>
                }
            </td>
            <td>
                @if (item.Herramientas == 1)
                {
                    <label value="@item.Herramientas">Si</label>
                }
                else
                {
                    <label value="@item.Herramientas">No</label>
                }

            </td>
            <td>
                @if (item.Gato == 1)
                {
                    <label value="@item.Gato">Si</label>
                }
                else
                {
                    <label value="@item.Gato">No</label>
                }
            </td>
            <td>
                @if (item.Antena == 1)
                {
                    <label value="@item.Antena">Si</label>
                }
                else
                {
                    <label value="@item.Antena">No</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.NoSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.VersionCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarroExtra">Correccion o terminar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCarroExtra">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCarroExtra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
