@model IEnumerable<Riviera_Business.Models.TbCarros>

@{
    ViewData["Title"] = "Index";
}


<script>
    $('#tableid').on('click', 'button', function () {
        $(this).parent().parent().remove();
    });

    $('#tableid').on('change', 'select', function () {
        if ($(this).val()) { $(this).next().show(); }
    });
</script>
<h1>Index</h1>

<p>
    <a asp-action="Create">Llenar otra Oferta</a>
    
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                Proveedor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCompraCanal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolioFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactToma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antiguedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorInt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoMotor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumEconomicoOpc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MvaOpc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaveVehicular)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DuenoAnterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropuestaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOferta)
            </th>
            <th>
                Version Automovil
            </th>
            <th>
                Modelo Automovil
            </th>
            <th>
                Marca Automovil
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation.Descripcion)
            </th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCompraCanal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FolioFiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFactToma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Antiguedad)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorExt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoMotor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumEconomicoOpc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MvaOpc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transmicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveVehicular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuenoAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropuestaCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVersionNavigation.VersionCarro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.IdCarros">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.IdCarros">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.IdCarros">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
