@model IEnumerable<Riviera_Business.Models.TbPapelesCarro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Automoviles con comprobantes</h1>

<p>
    <a asp-action="Create">Agregar mas comprobantes</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FactOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefactCompleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenencias4Anos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUlltimaVerificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repuve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transunionfolio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                Num Serie
            </th>
            <th>
                Version
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.FactOrigen == 1)
                {
                    <label value="@item.FactOrigen">Entregada</label>
                }
                @if (item.FactOrigen == 2)
                {
                    <label value="@item.FactOrigen">No Entregada</label>
                }
                @if (item.FactOrigen == 3)
                {
                    <label value="@item.FactOrigen">Problemas</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefactCompleta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenencias4Anos)
            </td>
            <td>
                @if (item.Baja == 1)
                {
                    <label value="@item.Baja">Entregada</label>
                }
                @if (item.Baja == 2)
                {
                    <label value="@item.Baja">No Entregada</label>
                }
                @if (item.Baja == 3)
                {
                    <label value="@item.Baja">Problemas</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUlltimaVerificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repuve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transunionfolio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.NoSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.VersionCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPapelesCarro">Agregar/Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPapelesCarro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPapelesCarro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
