@model Riviera_Business.Models.TbSeguimiento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Automovil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cita)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Cita == 1)
            {
                <label value="@Model.Cita">Si</label>
            }
            else
            {
                <label value="@Model.Cita">No</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistio)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Asistio == 1)
            {
                <label value="@Model.Asistio">Si</label>
            }
            else
            {
                <label value="@Model.Asistio">No</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toma)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Toma == 1)
            {
                <label value="@Model.Toma">Si</label>
            }
            else
            {
                <label value="@Model.Toma">No</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaManejo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.PruebaManejo == 1)
            {
                <label value="@Model.PruebaManejo">Si</label>
            }
            else
            {
                <label value="@Model.PruebaManejo">No</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoCompra)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IdTipoCompra == 1)
            {
                <label value="@Model.IdTipoCompra">Retail</label>
            }
            else
            {
                <label value="@Model.IdTipoCompra">Interagencias</label>
            }
        </dd>
        <dt class = "col-sm-2">
            Dejo Anticipo
        </dt>
        <dd class="col-sm-10">
            @if (Model.Anticipo == 1)
            {
                <label value="@Model.Anticipo">Si</label>
            }
            else
            {
                <label value="@Model.Anticipo">No</label>
            }
        </dd>
        <dt class = "col-sm-2">
            Termino en venta
        </dt>
        <dd class="col-sm-10">
            @if (Model.Venta == 1)
            {
                <label value="@Model.Venta">Si</label>
            }
            else
            {
                <label value="@Model.Venta">No</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMedioPublicitarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMedioPublicitarioNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarroNavigation.NoSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSeguimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
