@model IEnumerable<Riviera_Business.Models.TbSeguimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asistio)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Toma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PruebaManejo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoCompra)
            </th>
            <th>
                Termino en Venta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anticipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadAnticipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMedioPublicitarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAsesorNavigation)
            </th>
            <th>
                Num Serie
            </th>
            <th>
                Version
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @if (item.Contesto == 1)
                {
                    <label value="@item.Contesto">Si</label>
                }
                else
                {
                    <label value="@item.Contesto">No</label>
                }
            </td>
            <td>
                @if (item.Cita== 1)
                {
                    <label value="@item.Cita">Si</label>
                }
                else
                {
                    <label value="@item.Cita">No</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCita)
            </td>
            <td>
                @if (item.Asistio == 1)
                {
                    <label value="@item.Asistio">Si</label>
                }
                else
                {
                    <label value="@item.Asistio">No</label>
                }
            </td>
            <td>
                
                @if (item.Toma == 1)
                {
                    <label value="@item.Toma">Si</label>
                }
                else
                {
                    <label value="@item.Toma">No</label>
                }
            </td>
            <td>
                
                @if (item.PruebaManejo == 1)
                {
                    <label value="@item.PruebaManejo">Si</label>
                }
                else
                {
                    <label value="@item.PruebaManejo">No</label>
                }
            </td>
            <td>
                
                @if (item.IdTipoCompra == 1)
                {
                    <label value="@item.IdTipoCompra">Retail</label>
                }
                else
                {
                    <label value="@item.IdTipoCompra">InterAgencias</label>
                }
            </td>
            <td>
                
                @if (item.Venta == 1)
                {
                    <label value="@item.Venta">Si</label>
                }
                else
                {
                    <label value="@item.Venta">No</label>
                }
            </td>
            <td>
                @if (item.Anticipo == 1)
                {
                    <label value="@item.Anticipo">Si</label>
                }
                else
                {
                    <label value="@item.Anticipo">No</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadAnticipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMedioPublicitarioNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsesorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.NoSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.VersionCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeguimiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSeguimiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSeguimiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
