@model Riviera_Business.Models.TbSeguimiento

@{
    ViewData["Title"] = "Desempeno";
}

<h1>Desempeno</h1>

<div>
    <h4>TbSeguimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaManejo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruebaManejo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anticipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anticipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAnticipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAnticipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMedioPublicitarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMedioPublicitarioNavigation.IdMedioPublicitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsesorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsesorNavigation.IdAsesores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarroNavigation.IdCarros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.IdEstados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSeguimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
