@model IEnumerable<Riviera_Business.Models.ZUtilidad>

@{
    ViewData["Title"] = "Utilidad";
}

<h1>Utilidad</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="dataTable">
    @foreach (var item in Model)
    {
        <p>Numero de serie</p>
        <p>@item.Numero_serie</p>
        <p>idcarro</p>
        <p>@item.IdCarros </p>
        <p>precio compra</p>
        <p>@item.Compra </p>
        <p>Gastos realizados</p>
        <p>@item.Gastos </p>
        <p>Precio de venta</p>
        <p>@item.Venta </p>
        <p>Resultado de utilidad</p>
        <p>@item.Utilidad </p>
    }

</table>