@model IEnumerable<Riviera_Business.Models.VwUtilidad>

@{
    ViewData["Title"] = "Utilidad";
}

<h1>Utilidad</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var carro in ViewBag.carros)
{
    <p>@carro.NoSerie </p>
    <p>@carro.IdCarros </p>
    <p>@carro.Compra </p>
    <p>@carro.Gasto </p>
    <p>@carro.Venta </p>
    <p>@carro.utilidad_vehiculo </p>
}

