@model IEnumerable<Riviera_Business.Models.TbLeyAntilavado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionVig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CifSat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComprobDomicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConocimientoDuenoBeneficiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActaConstitutivaBoletaRpc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoderLegarExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstanciaConocimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesCorrespondiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDatosPersonaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionVig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CifSat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprobDomicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConocimientoDuenoBeneficiario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActaConstitutivaBoletaRpc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoderLegarExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstanciaConocimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesCorrespondiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDatosPersonaNavigation.IdDatosPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.IdEstados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDocumentos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDocumentos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDocumentos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
