@model IEnumerable<Riviera_Business.Models.CMedioPublicitario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Medio</h1>

<p>
    <a asp-action="Create">Agregar Nuevo Medio</a>
</p>
<p>Lista de Medios Publicitarios o Cartera</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedioPublicitario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMedioPublicitario">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
