@model IEnumerable<Riviera_Business.Models.CuentasPendientesCP>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuentas en general</h1>

<style>
    .CuentasPP{
        background-color:orangered;
    }
    .CuentasPC{
        background-color:forestgreen;
    }
    .OtrasC{
        background-color:cornflowerblue;
    }
</style>

<p>
    <a asp-action="OtrasCuentas">Llenar otras cuentas</a>
    <a asp-action="CuentasCobrar">Llenar cuentas por cobrar</a>
    <a asp-action="CuentasPagar">Llenar otras cuentas</a>
</p>
<table border="0" cellspacing="5" cellpadding="5">
    <tbody>
        <tr>
            <td>FechaInicial:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>FechaFinal:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody>
</table>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CuentasCobrarPagarOtras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anticipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                Numero de Serie
            </th>
            <th>
                Version
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdConceptoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuentasCobrarPagarOtras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anticipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.NoSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.VersionCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConceptoNavigation.DescripcionConcepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCuentaPendiente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCuentaPendiente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCuentaPendiente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $document.ready(function (select) {

    });
</script>