@model IEnumerable<Riviera_Business.Models.CMarcaCarro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Marcas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Agregar Marca</a>
</p>
<p>Todas las marcas manejadas por la empresa (No son inventario)</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdMarcaCarro" class="btn fc-button-active">Corregir</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdMarcaCarro">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<p>Para ir a inventario dar click en el enlace:</p>
<a asp-controller="TbCarros" asp-action="Index">Inventario</a>