@model IEnumerable<Riviera_Business.Models.TbSeguro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Carros con seguro</h1>

<p>
    <a asp-action="Create">Agregar mas carros con seguro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomSeguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolizaSeguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdControlNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolizaSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdControlNavigation.FolioFiscal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeguro">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdSeguro">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSeguro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
